/*----body-------*/
 
body{
  background-image:
   url(../image/back.jpg)
}

body {
    background: url(../image/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1{
  padding-left: 75px;
}
.fa{
  padding-left: 15px;
}

h1{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}

@media screen and (max-width: 768px) {
    h1{
        font-size:414px;
    }
}
























